* {
    padding: 0;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family:UniversLTStd;
    font-weight:55;
    src:url(assets/fonts/UniversLTStd.otf);
}

@font-face{
    font-family:UniversLTStd-Bold;
    font-weight:65;
    src:url(assets/fonts/UniversLTStd-Bold.otf);
}

@font-face{
    font-family:UniversLTStd-Light;
    font-weight:45;
    src:url(assets/fonts/UniversLTStd-Light.otf);
}

/*-------GENERAL--------*/

body{
    font-family:UniversLTStd;
    font-weight:55;
}


section {
    min-height: 100vh;
}

.align-left{
    text-align: left;
}

.secondary_color{
    color: #142fd0;
}

.secondary_text{
    font-family: UniversLTStd-Light;
    font-weight:45;
}


.container{
    margin-top:5%;
}

a{
    text-decoration: none;
    color: #FFF;
}


.title{
    font-size:45px;
    font-weight: 65;
}

.sub-title{
    font-size:25px;
    font-weight: 45;
    font-style: italic;
}

.label{
    font-size:10px;
    font-weight: 45;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.description{
    font-size:11px;
    font-weight: 55;
    font-style: italic;
    text-transform: uppercase;
}

/*----CAROUSEL----*/

.carousel {
    margin-top: 10%;
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1 !important;
    background-color:grey;
    width: 7% !important;
    height: 100%;
    top: auto !important;
}



.item {
    position: relative;
    padding-bottom: 130px;
}

.carousel-inner img {
    width: 60%;
    height: 60%;
    margin:auto;
}

.control{
    height: 60%;
    width: 60vw;
    background-color:grey;
    opacity: 100%;
}

/*------------------------------PURPOSE------------------------------*/
.purpose{
    position: relative;
    min-height: 70vh;
    overflow-x: hidden;
}
        
.purpose__section{
    position: absolute;
    top: 10px;
    height: 90%;
    width: 60vw;
    color: white;
    padding: 20px;
    z-index: 1;
    transition: 0.4s ease;
    cursor: pointer;
}

.purpose__section::after{
    content: "";
    position: absolute;
    top: 50%;
    right: -15vw;
    width: 15vw;
    height: 1px;
    background-color: black;
    z-index: 2;
}

.purpose__section-title{
    text-transform: uppercase;
    font-size: 24px;
    position: absolute;
    top: 45%;
    right: calc(-15vw - 100px);
    color: black;
    transform: rotate(-90deg);
}


.purpose__section--l{
    left: -50%;
    background-color: #4033ff;
}

.purpose__section--r{
    right: -50%;
    background-color: #51289e;
}

.purpose__section--r.purpose__section::after{
    right: auto;
    left: -15vw;
}

.purpose__section--r .purpose__section-title{
    right: auto;
    left: calc(-15vw - 85px);
}

/*Left clicked*/

.purpose--left-clicked .purpose__section--l{
    left: 0;
}

.purpose--left-clicked .purpose__section--r{
    right: -60%;
}


/*right clicked*/

.purpose--right-clicked .purpose__section--l{
    left: -60%;
}

.purpose--right-clicked .purpose__section--r{
    right: 0;
}

.purpose__section-text--l{
    padding: 5% 10% 2% 10%;
    visibility: hidden;
}

.purpose__section-text--r{
    padding: 5% 10% 2% 10%;
    visibility: hidden;
}

/*------------------------------ARTICLE------------------------------*/
.article-container{
    
}

.article-header{
    max-width: 370px;
    margin-bottom: 5%;
}

.article-content{
    
}
.article-text p{
    font-size: 14px;
    
    
}


.article-images img{
    width: 100%;
    padding: 0 5px 10px 0;
}


/*---------NOTE - padding: top right bottom left; -------------*/


/*------------------------------SHOP------------------------------*/

.description {
    font-size:12px;
    margin: 5% 2% 2% 2%;
}

.price {
    margin: 0% 2% 2% 2%;
}

/*---GET THE MAGAZINE---*/
.magazine_img {
    height: 300px;
    max-height: 100%;
    max-width: 100%;
    margin: 5% 2% 5% 2%;
    transition: .5s ease;
    backface-visibility: hidden;
}

#magazine_one {
    background-color: aqua;
}

#magazine_two {
    background-color: aquamarine;
}

#magazine_three {
    background-color: palevioletred;
}

/*---GET THE BOOKS---*/

.book_img{
    height: 200px;
    max-height: 100%;
    max-width: 100%;
    margin: 5% 0% 5% 2%;
}

.book_description{
    margin: 5% 2% 0% 2%;
}

.author{
    margin-top: 2%;
}

#book_one {
    background-color: aqua;
}

#book_two {
    background-color:cadetblue;
}

#book_three {
    background-color:coral;
}

#book_four {
    background-color:cornflowerblue;
}

#book_five {
    background-color:crimson;
}

#book_six {
    background-color:darksalmon;
}

#book_seven {
    background-color:forestgreen;
}

#book_eigth {
    background-color:dodgerblue;
}

#book_nine {
    background-color:firebrick;
}

#book_ten {
    background-color:deeppink;
}

/*---GET THE BOOKS :HOVER EFFECT---*/

.shop-book-read, .shop-book-buy{
    color:#000;
    font-size: 16px;
    position: absolute;
    opacity: 1;
}


.effect {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.magazine_img:hover .effect {
  opacity: 1;
}

/*------------------------------SHOP - ITEM PAGE ------------------------------*/

.the-image {
	width: 618px;
	height: 83px;
}

.item-page-price {
	width: 238px;
	height: 29px;
}

.item-description{
    width: 600px;
	height: 203px;
}

.item-read-article{
    width: 149px;
	height: 25px;
}

.item-quantity {
	width: 149px;
	height: 25px;
}

input[type=number]{
    width: 110px;
	height: 30px;
}

.item-add-bag{
    width: 149px;
	height: 25px;
    border: none;
    cursor:pointer;
}

/*
span{
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;

}*/

/*------------------------------FOOTER------------------------------*/

footer{
    background-color: #9b9b9b;
    color: #FFF;
    display: flex;
}

.footer-content{
    margin: 2% 0% 0% 0%;
    padding-top: 5%;
    align-items: flex-end;
}

p, ul{
    -webkit-margin-after: 0;
    
}

ul li{
    list-style-type: none;
    margin-bottom: 0;
    color: #FFF;
    text-decoration: none; 
}

.footer__link a{
    text-decoration: none;
}

.footer__info{
    display: flex;
    align-items: flex-end;
}


.footer__social i{
    color: #FFF;
    font-size: 30px;
    padding: 2% 2% 2% 2%;
}


.footer__social{
    display: inline-flex;
    align-items: flex-end;
}

.footer__subtitle{
    margin-right: 5px;
    color: #666;
    float: left;
}
p .footer__subtitle.footer-folow{
    margin-bottom: 0;
}



/*------------------------------MEDIA QUERIES------------------------------*/

/*--MOBILE - XS --*/
@media only screen and (max-width : 480px) {
    
    .footer__description{
        padding: 5% 5% 5% 5%;
    }
    
    .footer__translation{
        padding: 5% 5%;
    }
    
    .footer__info{
        padding: 5% 5%;
    }
    
    .footer__social{
        padding: 5% 5%;
    }
    
    .article-text{
        width: 100%;
    }
    
    .article-images{
        width:100%;
    }
}

/*--Small Tablets - SM---*/
@media only screen and (min-width : 768px) {
    
    .footer__description{
        padding: 5% 5% 5% 5%;
    }
    
    .footer__translation{
        padding: 5% 5%;
    }
    
    .footer__info{
        padding: 5% 5%;
    }
    
    .footer__social{
        padding: 5% 5%;
    }
}

/*--Medium Devices, Desktops--*/
@media only screen and (max-width : 992px) {
    
      .footer__description{
        padding: 5% 5% 5% 5%;
    }
    
    .footer__translation{
        padding: 5% 5%;
    }
    
    .footer__info{
        padding: 5% 5%;
    }
    
    .footer__social{
        padding: 5% 5%;
    }
}
